*{
    
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.84);
    margin:0;
    padding:0;
}
.container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
    color: white;
   

}
.image{

    padding: 0px 70px;
    margin:0px 20px;
}
.image img{
    width: 100%;
    height: 300px;
   
}
.content{
    margin:0px 20px;
    font-family: cursive;
}
.content p,ul{
    padding: 0px 70px;
    font-size: 20px;
  
}
ul{
    text-transform: uppercase;
    
    color: rgba(37, 225, 237, 1);
    
}
li{
    padding-top: 15px;
    font-family: arial;
    font-family: bold;

}
.footer{
    border: 1px solid blue; 
    background-color: rgba(0, 0, 0, 0.84);;
    border-top: 2px solid rgba(255, 138, 0, 1);
    height: 150PX;
   
   
}
.nav{
    
    border-bottom: 5px solid rgba(255, 138, 0, 1);
    height: 60px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.84);;
}
h3{
    font-size: 30px;
    padding: 10px 70px;
}
.nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 40px;
    line-height: 40px;
    margin: 0 40px;
}
button{
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    background-color: rgba(37, 225, 237, 1);
    border-radius: 4px;
    cursor: pointer;
    width: 8%;
    border:none;
    height: 33px;
    float: right;
    margin:40px 30px;
    padding-bottom:  7px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    
}