*{
    
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.84);
    margin:0;
    padding:0;
    color: white;
}
.flex-cards{
    display: flex;
    column-gap: 20px;
    padding: 0px 40px;
}
.flex-cards div{
    border: 1px solid white;
    background-color: black;
    margin-top: 40px;
}
.card1 .card2 .card3 .card4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: black;
    border: 2px solid white;
    display: block;
    
  }
  .title {
    color: white;
    font-size: 20px;
    padding-left: 7px;
  }
  
  button {
  
    outline: 0;
    display: inline-block;
    padding: 8px ;
    color: white;
    background-color: rgba(255, 138, 0, 1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  h1{
   color: white;
   padding: 5px 80px;
   font-weight: bold;
  }
  nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 40px;
    line-height: 40px;
    margin: 0 40px;
}
nav{
    height: 60px;
    border-bottom: 3px solid rgba(37, 225, 237, 1);
}
nav a:hover{
   color:rgba(255, 138, 0, 1);
}
#btn-login{
  outline: 0;
  display: inline-block;
  padding: 8px ;
  color: black;
  background-color: rgba(37, 225, 237, 1);
  cursor: pointer;
  width: 120px;
  font-size: 18px;
  border:none;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 40px;
}
p .update{
  background-color: rgba(208, 209, 208, 0.66);
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-family: cursive;
}
p .delete{
  background-color: rgba(208, 209, 208, 0.66);
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: cursive;
}
p .delete:hover{
  background-color: rgba(37, 225, 237, 1);
  font-weight: bold;
}
p .update:hover{
  background-color: rgba(255, 138, 0, 1);
  font-weight: bold;
  color: white;
}

  