*{
    
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.84);
    margin:0;
    padding:0;
}
form {
    border: 2px solid rgba(37, 225, 237, 1);
    border-bottom: 20px solid rgba(37, 225, 237, 1);
    border-radius: 60px 0px 0px 0px;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.45);
}

input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 40px;
  margin: 8px 50px;
  display: inline-block;
  border: 1px solid rgba(37, 225, 237, 1);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
  font-size: 18px;
}
label{
    color: white;
    margin-left: 60px;
    font-size: 20px;
    font-family: cursive;
}
button {
  background-color: rgba(255, 138, 0, 1);
  color: black;
  padding: 14px 20px;
  margin: 8px 300px;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  
}
button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.login-form{
   width:60%;
   margin: auto;
}
nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 40px;
    line-height: 40px;
    margin: 0 40px;
}
nav{
    height: 60px;
    border-bottom: 3px solid rgba(37, 225, 237, 1);
}
nav a:hover{
   color:rgba(255, 138, 0, 1);
}
a{
  color: white;
  text-decoration: none;
}
.input-control.error input{
  border-color: #ff3860;
 
}
.input-control.success input{
  border-color: #09c372;
}
.input-control.error{
  color: #ff3860;
  font-size: 12px;
  
}

.input-control input:focus{
  outline: 0;
}
.input-control label{
  float: left;
 
}
#error{
  text-align: center;
}
#login-form h2{
  color: white;
  text-align: center;
 
}
#Noacc{
 margin-left: 30rem;

}
#Noacc a{
  color:rgba(37, 225, 237, 1);
  text-decoration: underline;
}