*{
    
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.84);
    margin:0;
    padding:0;
    font-family: cursive;
}
.container{
    display:grid;
    grid-template-columns: 20% 80%;
   
}
.container div{

   
}
.menu{
    grid-area: 1 /1/ span 1/span 2;
    /* border-bottom: 1px solid white; */
    height: 70px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}
.side{
grid-area: 2/ 1/ span 1/span 1;
border-right: 2px solid rgba(37, 225, 237, 1) ;
background-color: rgba(0, 0, 0, 0.44);

}
.main{
    grid-area: 2 /2 /span 1/span 1;   
}
.boxes{
    display: flex;
}
.box1,.box2,.box3{
   width: 180px;
   margin: 20px;
   height: 150px;
   border-radius: 4px;
   box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}
.box1{
    background-color: rgba(216, 93, 189, 1);
}
.box2{
    background-color: rgba(255, 138, 0, 1);
}
.box3{
    background-color:rgba(208, 209, 208, 0.66)
}
.circle{
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 20px auto;
    text-align: center;
    padding: 7px;
    
}
.circle label{
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
}
.container-label{
    color: black;
    font-size: 20px;
    font-family: cursive;
    margin-left: 40px;
    font-weight: bold;

}
.message{
    margin: 20px;
    color: white;
    font-size: 24px;
    
}
.main-body{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.main-body >div{
    background-color: black;
    /* height:220px; */
    margin: 20px;
    color: white;
    border-radius: 7px;
    width: 80%;
}
table{
    width: 100%;
    font-size: 20px;
}
th{
    border-bottom:3px solid rgba(255, 138, 0, 1);
    padding-bottom: 7px;
}
td{
    width: 50%;
    text-align: center;
    padding-top: 30px;
}
/* styling side panel */
img{
    height: 50px;
    width:50px;
    border-radius: 50%;
}
.dash-img{
    margin: 10px 40px;
    color: white;
}
.side-menu{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    color: white;
    font-family: cursive;
    font-size: 20px;
    margin: 10px 40px;
}
.side-menu i{
    margin-bottom: 40px; 
}
.side-menu i label{
    font-family: cursive;
}
.menu label{
    color: white;
}
.home{
    padding: 18px;
}
a{
   text-decoration: none;
   font-size: 24px;
   color:white;
}
.main-content a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 40px;
    line-height: 40px;
    margin: 0 40px;
    font-size: 18px;
    height: auto;
    
}
input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(37, 225, 237, 1);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.84);
    resize: vertical;
    color: white;
}